<?xml version="1.0"?>
<launch>
    <!-- 노드 이름 설정 -->
    <arg name="node_name" default="cream_ioniq_node" />
    
    <!-- 파라미터 파일 로드 -->
    <rosparam command="load" file="$(find cream_ioniq)/config/bev_params.yaml" ns="$(arg node_name)" />

    <!-- CREAM IONIQ 노드 실행 -->
    <node pkg="cream_ioniq" type="cream_ioniq_node.py" name="$(arg node_name)" output="screen">
    </node>
</launch> 